* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
  }

  .hidden {
      display: none;
  }

/* Header */

header {
    width: 100%;
    background-color: #1976d2;
}


.nav-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 25px;

}

.nav-list-menu {
    list-style-type: none;
    display: inline;
}

.nav-list-menu li {
    display: inline;
    float: right;
}

.nav-link-about {
    color: white;
    text-decoration: none;
}

/* Main */

.main-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Home Page */

.show-wrapper {
    width: 31%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.show-title {
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-weight: normal;
}

.show-rating {
    /* width: 56px;
    height: 56px; */
    /* position: relative;
    left: 165px;
    bottom: 15px; */
    color: white;
    background-color: #2196f3;
    padding: 20px;
    border-radius: 50px;
    z-index: 1;
}

.show-profile-img {
    width: 100%;
}

/* Single Show Page */

.single-show-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
}

.single-show-info-section {
    width: 70%;
    padding: 20px;
}

.single-show-title {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
}

.single-show-genre {
    font-size: 13px;
    color: rgba(0,0,0,.6);
    background-color: #e4e4e4;
    border-radius: 20px;
    padding: 10px;
    display: inline;
}

.single-show-description p{
    padding: 20px 0;
    font-size: 20px;
    line-height: 30px;
}

.single-show-img-container {
    width: 30%;
    padding: 20px;
    width: 80%;
}

.single-show-img {
    width: 100%;
    
}

.single-show-actors-title {
    font-size: 30px;
    padding: 20px 0;
    display: inline;
}

.single-show-actors-list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(189, 185, 185);
    margin-bottom: 20px;
    border-bottom: none;
}

.single-show-actors-list li {
    list-style-type: none;
    display: inline;
    border-bottom: 1px solid rgb(189, 185, 185);
    padding: 10px;
    
}

.single-show-actors-list h4 {
    display: inline;
    font-size: 25px;
    font-weight: 100;
    position: relative;
    bottom: 15px;
    left: 20px;
}

.single-show-actor-img {
    position: relative;
    display: inline-block;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.single-show-actors-section div {
    padding: 30px 0;
}

.list-grid-icon {
    width: 40px;
    float: right;
}
/* About */

.about-title {
    padding: 20px 0;
}

/* Footer */

footer {
    width: 100%;
    background-color: #1976d2;
    position: relative;
    bottom: 0px;
    flex-shrink: 0;
}

.footer-container {
    width: 80%;
    color: white;
    padding: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    /* .nav-logo {
        position: relative;
        left: 245px;
    } */

    .single-show-container {
        flex-direction: column-reverse;
        margin-left: 70px;
    }

    .single-show-info-section {
        width: 100%;
    }

    .single-show-description {
        margin-top: 20px;
        width: 80%;
    }

    .show-wrapper {
        text-overflow: ellipsis;
    }
/* 
    .show-rating {
        position: relative;
        right: 150px;
    } */
}

@media screen and (max-width: 468px){
    .main {
        width: 90%;
    }

    .single-show-container {
        margin-left: 10px;
    }

    .single-show-img-container {
        width: 92%;
    }
    .show-wrapper {
        width: 100%;
    }

}