* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
  }

/* Header */

header {
    width: 100%;
    background-color: #1976d2;
}


.nav-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 25px;

}

.nav-list-menu {
    list-style-type: none;
    display: inline;
}

.nav-list-menu li {
    display: inline;
    float: right;
}

.nav-link-about {
    color: white;
    text-decoration: none;
}

/* Main */

.main-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Home Page */

.show-wrapper {
    width: 31%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-link {
    display: block;
    text-decoration: none;
}

.show-title {
    text-align: center;
    padding: 15px;
}

.show-rating {
    background-color: #1976d2;
    padding: 20px;
    border-radius: 50px;
}

.show-profile-img {
    width: 100%;
}

/* Single Show Page */

.single-show-container {
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgb(189, 185, 185);
}

.single-show-info-section {
    padding: 20px;
}

.single-show-title {
    padding-bottom: 20px;
}

.single-show-genre {
    font-size: 13px;
    color: rgba(0,0,0,.6);
    background-color: #e4e4e4;
    border-radius: 20px;
    padding: 10px;
}

.single-show-description {
    padding: 20px 0;
}

.single-show-img-container {
    padding: 20px;
    width: 80%;
}

.single-show-img {
    width: 320px;
    
}
.single-show-actors-title {
    font-size: 30px;
    padding: 20px 0;
}

.single-show-actors-list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(189, 185, 185);
    margin-bottom: 20px;
    border-bottom: none;
}

.single-show-actors-list li {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    list-style-type: none;
    display: inline;
    border-bottom: 1px solid rgb(189, 185, 185);
    padding: 10px;
    
}

.single-show-actors-list h4 {
    display: inline;
    font-size: 25px;
    font-weight: 100;
}

.single-show-actor-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
/* About */

.about-title {
    padding: 20px 0;
}

/* Footer */

footer {
    width: 100%;
    background-color: #1976d2;
    position: relative;
    bottom: 0px;
    flex-shrink: 0;
}

.footer-container {
    width: 80%;
    color: white;
    padding: 20px;
    margin: 0 auto;
}