* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
  }

/* Header */

header {
    width: 100%;
    background-color: #1976d2;
}


.nav-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 25px;

}

.nav-list-menu {
    list-style-type: none;
    display: inline;
}

.nav-list-menu li {
    display: inline;
    float: right;
}

.nav-link-about {
    color: white;
    text-decoration: none;
}

/* Main */

.main-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

/* Home Page */

.show-wrapper {
    /* padding: 0 10px; */
    width: 31%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-title {
    text-align: center;
    padding: 15px;
}

.show-rating {
    position: relative;
    left: 180px;
    bottom: 15px;
    background-color: #1976d2;
    padding: 20px;
    border-radius: 50px;
    right: 10px;
}

.show-profile-img {
    width: 100%;
}

/* About */

.about-title {
    padding: 20px 0;
}

/* Footer */

footer {
    width: 100%;
    background-color: #1976d2;
    position: relative;
    bottom: 0px;
    flex-shrink: 0;
}

.footer-container {
    width: 80%;
    color: white;
    padding: 20px;
    margin: 0 auto;
}